### Task 1

In [38]:
Planetas = ["Mercurio","Venus","Tierra","Marte","Jupiter","Saturno","Urano","Neptuno"]
print(Planetas)

['Mercurio', 'Venus', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

In [37]:
cantidad = len(Planetas)
print("Existen ",cantidad," planetas en el sistema solar")

Existen  8  planetas en el sistema solar

In [39]:
cuatro =Planetas[:4]
print("los primeros 4 planetas del sistema solar son ",cuatro)

los primeros 4 planetas del sistema solar son  ['Mercurio', 'Venus', 'Tierra', 'Marte']

In [20]:
ese = Planetas[1]

In [24]:
print("el planeta que termina con una s del sistema solar es ",ese)

el planeta que termina con una s del sistema solar es  Venus

## Task 2

In [30]:
temperaturaF = 30.3

In [33]:
temperaturaC = (5/9)*(temperaturaF-32)

In [36]:
print("la temperatura en Farenheit es de ",temperaturaF,",el cual en grados Celcius es de ",temperaturaC)

la temperatura en Farenheit es de  30.3 ,el cual en grados Celcius es de  -0.9444444444444441

## Task 3